/**{*/
/*    box-sizing: border-box;*/
/*}*/
/*.para1{*/
/*    font-size: 40px;*/
/*    color: crimson;*/
/*}*/

/*.box-one{*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    background-color: yellow;*/
/*    float: left;*/
/*    margin: 10px 30px;*/
/*    border: 30px solid black;*/

/*}*/
/*.box-two{*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    background-color: gray;*/
/*    float: left;*/
/*    padding: 80px;*/
/*}*/

/*.box-three{*/
/*    width: 1000px;*/
/*    height: 300px;*/
/*    background-color: crimson;*/
/*    float: left;*/
/*}*/
*{
    box-sizing: border-box;
}

.col-1{ width: 8.33%; }
.col-2{ width: 16.66%; }
.col-3{ width: 25%; }
.col-4{ width: 33.33%; }
.col-5{ width: 41.66%; }
.col-6{ width: 50%; }
.col-7{ width: 58.33%; }
.col-8{ width: 66.66%; }
.col-9{ width: 75%; }
.col-10{ width: 83.33%; }
.col-11{ width: 91.66%; }
.col-12{ width: 100%; }

.cm{
    border: 1px solid black;
    float: left;
}

.row{
    clear: both;
}

.header-height{ height: 200px }
.menu-height{ height: 50px }
.content-height{ height: 400px }
.footer-height{ height: 50px }


ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li{
    float: left;
    width: 315.5px;
    border-right: 1px solid white;
}
ul li a{
    text-decoration: none;
    height: 50px;
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 3em;
}






















