*{
    box-sizing: border-box;
}
body{
    background: #0C1021;
}
nav ul{
    margin: 0;
    list-style-type: none;
}
nav ul  li{
    border-right: 1px solid #0C1021;
}
nav ul li a:hover {
    background-color: #555;
    color: white;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}

.row{
    clear: both;
}
.fl-left{
    float: left;
}
.nav-bar{
    background-color: #3C3F41;
    height: 50px;
}
.footer-color{
    background-color: #3C3F41;

    margin-bottom: 0;
    height: 170px;
}
.nav-item{
    display: block;
    line-height: 3em;
    text-decoration: none;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: white;
    background-color: #3C3F41;
}
.content{

    background-color: white;
}
.content-menu-left{
    border-right: 2px solid #0C1021;
}
.content-menu-right{
    border-left: 2px solid #0C1021;
}
.display-none{
    display: none;
}
.display-block{
    display: block;
}

.col-1{ width: 8.33%;}
.col-2{ width: 16.66%;}
.col-3{ width: 25%;}
.col-4{ width: 33.33%;}
.col-5{ width: 41.66%;}
.col-6{ width: 50%;}
.col-7{ width: 58.33%;}
.col-8{ width: 66.66%;}
.col-9{ width: 75%;}
.col-10{ width: 83.33%;}
.col-11{ width: 91.66%;}
.col-12{ width: 100%;}